html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  padding: 2rem 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #efefef;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  // background-image: url('./logo.png');
  height: 40px;
  width: 40px;
  // background-size: contain;
}

.search {
  input {
    width: 500px;
  }
}

h1.title {
  font-size: 2.5rem;
  margin-bottom: 1rem !important;
}

.description {
  text-align: left;
  line-height: 1.5;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.description-subtitle {
  line-height: 1.5rem;
  font-size: 1rem;
}


.photos-grid {
  width: 100%;
  padding: 1rem;
  /* border-radius: 5px; */
}

.photo-card {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 300px;

  &:hover {
    .photo-mask {
      opacity: 0.3;
    }

    .photo-meta {
      opacity: 1;
    }
  }
}

.photo-image {
  height: 100%;
  width: 100%;

  div {
    height: 100%;
  }
}

.photo-mask {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
}

.photo-meta {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;

  .photo-meta-title {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
  
  .photo-meta-location {
    color: #fff;
    font-size: 0.9rem;
  }
}

.modal-background {
  background-color: rgba(10,10,10,.5)
}

.photo-modal {
  width: 90vw;
  height: 90vh;
  background-color: white;
  border: 5px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  footer {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.photo-modal-image {
  padding-bottom: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  img {
    max-width: 900px;
    max-height: 675px;
  }
}

.photo-modal-info {
  text-align: center;
  border-radius: 5px;
  background-color: #efefef;
  padding: 0.5rem;
  width: 80px;
  display: flex;
  flex-direction: column;
  height: 60px;

  p:first-child {
    height: 30px !important;
  }
}

.photo-author {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: blueviolet;
  }
}